@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.intro {
   display: flex;
   height: 90vh;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   padding-left: 100px;
}

.intro-hi {
   font-weight: 600;
   font-family: 'Major Mono Display', monospace;
   color: var(--light);
}

.intro-name {
   padding: 10px 0;
   font-weight: bolder;
   font-size: 56px;
   color: var(--light3);
}

.intro-bio {
   font-weight: bolder;
   font-size: 36px;
   color: var(--lightest);
}

.intro-bio-2 {
   font-weight: bold;
   padding: 30px 0;
   width: 50%;
   color: var(--lightest);
}

.img-box {
   display: flex;
   flex-direction: column;
   width: 25%;
   height: 80vh;
   align-items: center;
   justify-content: center;
   position: absolute;
   margin-left: 60%;
   transition: var(--transition);
}

.intro-logo {
   width: 300px;
   border-radius: 7px;
   filter: hue-rotate(-90deg);
   transition: 0.5s linear all;
}

.intro-logo:hover {
   filter: hue-rotate(0deg);
}

.intro-say {
   background: var(--dark2);
   padding: 10px;
   width: fit-content;
   border-radius: 7px;
   color: white;
   font-size: 20px;
   text-decoration: none;
   transition: 0.1s linear all;
}

.intro-say:hover {
   transform: var(--scale);
}

.pallete {
   margin-top: 30px;
   display: flex;
   width: fit-content;
   border-radius: 10px;
   padding: 10px;
   background: #9e6f9d;
}

.colour {
   margin: 0 5px;
   border-radius: 7px;
   height: 40px;
   width: 40px;
   transition: var(--transition);
}

.colour:hover {
   cursor: pointer;
   transform: scale(1.2, 1.2);
}

.light {
   background-color: var(--light);
}

.light2 {
   background-color: var(--light2);
}

.light3 {
   background-color: var(--light3);
}

.dark2 {
   background-color: var(--dark2);
}

.dark {
   background-color: var(--dark);
}

.lightest {
   background-color: var(--lightest);
}