.large-projects {
   display: flex;
   padding-top: 200px;
   text-align: center;
   flex-direction: column;
   margin-left: 5%;
}

.lp-head {
   color: var(--light);
   padding-bottom: 100px;
}

.card {
   margin: 50px 0;
   display: flex;
}

.youtube {
   height: 400px;
   width: 720px;
   border-radius: 7px;
}

.left {
   display: flex;
   padding-left: 10%;
   justify-self: left;
}

.lp {
   text-align: right !important;
   width: 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 50vh;
   margin-left: 55%;
   position: absolute;
}

.feature {
   color: #4bffc3;
   font-family: monospace;
}

.tags {
   display: flex;
   flex-direction: row;
   justify-content: right;
   padding-top: 5px;
   padding-bottom: 15px;
}

.tag {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 5px;
   border-radius: 3px;
   padding: 3px;
   width: fit-content;
   background: var(--light);
   transition: var(--transition);
}

.tag:hover {
   transform: var(--scale);
}

.project-title {
   font-size: 40px;
   color: var(--lightest);
   padding: 15px 0;
}

.project-desc {
   text-align: left !important;
   border-radius: 5px;
   color: white;
   padding: 15px;
   background: var(--dark2);
   transition: var(--transition);
}

.project-desc:hover {
   transform: var(--translate);
}

.lp-left {
   text-align: left !important;
   width: 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 50vh;
   margin-left: 150px;
   position: absolute;
}

.right {
   margin-left: 35%;
}